# Extract data-sheets from excel file

In [25]:
import pandas as pd
from pathlib import Path

DATA_PATH = Path("../data/rawData/entry-clearance-visa-outcomes-datasets-sep-2025.xlsx")
DATA_PATH2 = Path("../data/cleanData/entry-clearance-visa_application.csv")
data01 = pd.read_excel(DATA_PATH, 
              sheet_name="Data_Vis_D01", 
              skiprows = 3,
              header = 0,
              nrows=100)

data02 = pd.read_excel(DATA_PATH, 
              sheet_name="Data_Vis_D02", 
              skiprows = 3,
              header = 0,
              nrows=100)

In [24]:
data02.head(80)

,Year,Quarter,Nationality,Region,Visa type group,Visa type,Visa type subgroup,Applicant type,Case outcome,Decisions
0,2005,2005 Q1,Afghanistan,Asia Central,Family,Family: Child,Family: Child (for immediate settlement),All,Issued,2
1,2005,2005 Q1,Afghanistan,Asia Central,Family,Family: Child,Family: Child (for immediate settlement),All,Refused,4
2,2005,2005 Q1,Afghanistan,Asia Central,Family,Family: Other,Family: Other (for immediate settlement),All,Issued,5
3,2005,2005 Q1,Afghanistan,Asia Central,Family,Family: Other,Family: Other (for immediate settlement),All,Refused,23
4,2005,2005 Q1,Afghanistan,Asia Central,Family,Family: Partner,Family: Partner,All,Issued,103
...,...,...,...,...,...,...,...,...,...,...
75,2005,2005 Q1,Algeria,Africa North,Study,Other study,Student - legacy route,Dependant,Issued,9
76,2005,2005 Q1,Algeria,Africa North,Study,Other study,Student - legacy route,Dependant,Refused,2
77,2005,2005 Q1,Algeria,Africa North,Study,Other study,Student - legacy route,Main Applicant,Issued,29
78,2005,2005 Q1,Algeria,Africa North,Study,Other study,Student - legacy route,Main Applicant,Refused,34
79,2005,2005 Q1,Algeria,Africa North,Study,Other study,Student - legacy route,Main Applicant,Withdrawn,1

In [ ]:
data01.to_csv(
    DATA_PATH2,
    index=False,
    encoding="utf-8-sig"
)